@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

:root {
  --color-dark-grey: #202326;
  --color-light-grey: #363a3e;
  --color-channel-grey: #2f3236;
  --color-channel-text: #8e9296;
  --color-channel-light: #393d42;
  --color-border-line: #2c2e31;
  --color-green: #42b680;
  --color-purple: #7288da;
  --color-userinfo: #292c2f;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.discord {
  height: 100vh;
  display: flex;
}

.servers {
  background: var(--color-dark-grey);
  height: 100%;
  width: 65px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-icon {
  background: var(--color-light-grey);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-radius 0.2s ease-in-out;
  position: relative;
  &.active {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 15px;
      height: 45px;
      border-radius: 30px;
      margin-left: -20px;
      background: #ffffff;
    }
  }
  &:hover {
    border-radius: 25%;
    background: var(--color-green);
  }
}

.separator {
  background: var(--color-light-grey);
  width: 30px;
  height: 2px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.serverInfo {
  background: var(--color-light-grey);
  width: 100%;
  height: 100%;
}

.channels {
  background: var(--color-channel-grey);
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-channel-text);
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    border-bottom: 2px solid var(--color-border-line);
    h3 {
      font-size: 16px;
      margin: 0;
    }
    span {
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.channels-list {
  padding: 15px 0;
}

.channels-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 0 10px;
  text-transform: uppercase;
  h4 {
    font-size: 12px;
    margin: 0;
  }
  span {
    font-size: 25px;
    cursor: pointer;
  }
}

.channels-list-content-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  &:hover {
    background: var(--color-channel-light);
    color: #ffffff;
  }
  span {
    font-size: 20px;
    margin-right: 10px;
  }

  h5 {
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }
}

.userInfo {
  background: var(--color-userinfo);
  margin-top: auto;
  padding: 10px;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  .user {
    display: flex;
    margin-right: 5px;
    span {
      cursor: pointer;
      height: 30px;
      width: 30px;
      font-size: 25px;
      background: var(--color-purple);
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }
    h4 {
      margin: 10px 0 5px;
      color: #ffffff;
      line-height: 0;
    }
    p {
      color: var(--color-channel-text);
      font-size: 10px;
    }
  }
}

.icons {
  margin-left: 0;
  display: flex;
  span {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background: var(--color-light-grey);
    border-radius: 50%;
    margin: 0 3px;
  }
}
